
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.berita-B1d {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.berita-B1d .group-3-f5D {
  box-sizing: border-box;
  padding: 1.8rem 15.8rem 1.8rem 7.9rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .logo-1-VVV {
  margin-right: 4.7rem;
  width: 8.8rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .home-G8s {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .auto-group-6xn7-QPV {
  margin: 2.7rem 9.8rem 3.5rem 0rem;
  width: 8.7rem;
  height: calc(100% - 6.2rem);
  position: relative;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .auto-group-6xn7-QPV .berita-krf {
  width: 8.7rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.berita-B1d .group-3-f5D .auto-group-6xn7-QPV .rectangle-19-5nT {
  width: 8.5rem;
  height: 0.2rem;
  position: absolute;
  left: 0.1rem;
  top: 2.9rem;
  background-color: #f1d012;
}
.berita-B1d .group-3-f5D .tim-gnF {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .pertandingan-t7d {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .club-JBM {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .group-3-f5D .gallery-YbV {
  margin-bottom: 0.9rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf {
  box-sizing: border-box;
  padding: 14.7rem 5.2rem 9.4rem 5.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .persebaya-fpX {
  margin-bottom: 3.7rem;
  box-sizing: border-box;
  padding: 1.1rem 2.2rem;
  width: 83.8rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #036933;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK {
  margin-bottom: 9.4rem;
  width: 86.4rem;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-h1dm-BRV {
  margin: 0rem 4.3rem 2rem 0rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: flex-start;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-h1dm-BRV .image-1--rXd {
  margin-right: 1.8rem;
  width: 23rem;
  height: 15.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-h1dm-BRV .teks-1-XNs {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-h1dm-BRV .teks-1-XNs .aji-tekankan-pemainnya-fokus-ke-pertandingan-fEB {
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-h1dm-BRV .teks-1-XNs .tren-positif-persebaya-akan-diuji-lawan-berat-di-pekan-ke-22-bri-liga-1-musim-2022-2023-tim-penghuni-papan-atas-borneo-fc-akan-menantang-bajol-ijo-di-gelora-DHd {
  max-width: 57.3rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-bgdh-yg7 {
  margin: 0rem 4.8rem 2rem 0rem;
  width: calc(100% - 4.8rem);
  display: flex;
  align-items: flex-start;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-bgdh-yg7 .image-2-fJ3 {
  margin-right: 1.8rem;
  width: 23rem;
  height: 15.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-bgdh-yg7 .teks-2-wmM {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-bgdh-yg7 .teks-2-wmM .rindu-bonek-di-kandang-gU3 {
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-bgdh-yg7 .teks-2-wmM .hari-yang-ditunggu-bonek-akhirnya-tiba-pertandingan-persebaya-surabaya-melawan-borneo-fc-yang-digelar-di-stadion-joko-samudro-gresik-jumat-3-2-akan-menjadi-mkP {
  max-width: 56.8rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-gkjm-mdu {
  margin: 0rem 4.2rem 2rem 0rem;
  width: calc(100% - 4.2rem);
  display: flex;
  align-items: flex-start;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-gkjm-mdu .image-3-UHR {
  margin-right: 1.8rem;
  width: 23rem;
  height: 15.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-gkjm-mdu .teks-3-xCb {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-gkjm-mdu .teks-3-xCb .jangan-cepat-pulang-marsel-hAB {
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-gkjm-mdu .teks-3-xCb .kami-di-persebaya-ikut-bangga-akhirnya-marsel-menuntaskan-negosiasi-di-kmsk-deinze-sebenarnya-kami-berat-hati-melepasnya-bagaimana-pun-marsel-sangat-dibutuhkan-azf {
  max-width: 57.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-vepj-cAf {
  margin: 0rem 3.7rem 4rem 0rem;
  width: calc(100% - 3.7rem);
  display: flex;
  align-items: flex-start;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-vepj-cAf .image-4-6bd {
  margin-right: 1.8rem;
  width: 23rem;
  height: 15.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-vepj-cAf .teks-4-QMR {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-vepj-cAf .teks-4-QMR .gol-perdana-supersub-untuk-calon-buah-hati-jeb {
  margin-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .auto-group-vepj-cAf .teks-4-QMR .gelandang-serang-persebaya-surabaya-ahmad-nufiandani-sukses-mencetak-gol-perdananya-di-pentas-liga-1-2022-2023-saat-mengalahkan-madura-united-dengan-skor-0-2-g-2No {
  max-width: 57.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo {
  margin-left: 0.6rem;
  height: 6.6rem;
  display: flex;
  column-gap: 2.2rem;
  align-items: center;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-zv3v-vcb {
  box-sizing: border-box;
  padding: 2.4rem 2.7rem 2.455rem 2.7rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-zv3v-vcb .icon-chevron-right-dX1 {
  width: 1.2rem;
  height: 1.7455rem;
  object-fit: contain;
  vertical-align: top;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-y2mr-6Qb {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #036933;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-v9b9-trF {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-cfqp-j6B {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-tbj3-nKM {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-ukjq-Eh9 {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-gtb9-Gdq {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-uchq-vCb {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-9xl7-N4b {
  width: 6.6rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-brdh-pBV {
  box-sizing: border-box;
  padding: 2.4rem 2.6rem 2.455rem 2.8rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .frame-2-GpK .nomor-halaman-3Yo .auto-group-brdh-pBV .icon-chevron-right-7wH {
  width: 1.2rem;
  height: 1.7455rem;
  object-fit: contain;
  vertical-align: top;
}
.berita-B1d .auto-group-q4jo-bpf .message-nGj {
  width: 41.9rem;
  flex-shrink: 0;
}
.berita-B1d .auto-group-q4jo-bpf .message-nGj .write-your-message-for-us-K1m {
  margin-bottom: 3.2rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.berita-B1d .auto-group-q4jo-bpf .message-nGj .auto-group-xj4o-QZ1 {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 2.1rem 2.1rem 2.4rem 2.1rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #d9d9d9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #036933;
}
.berita-B1d .auto-group-q4jo-bpf .message-nGj .auto-group-jg4j-DFZ {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 1.8rem 2.1rem;
  width: 100%;
  height: 14.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #d9d9d9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #036933;
}
.berita-B1d .auto-group-q4jo-bpf .message-nGj .auto-group-absh-e5y {
  width: 100%;
  height: 4.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #036933;
}
.berita-B1d .sponsor-FLf {
  box-sizing: border-box;
  padding: 6.9rem 11.2rem 9.7rem 11.2rem;
  width: 100%;
  height: 47.9rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .sponsor-kapal-api-v2-1-1-WGb {
  margin: 0rem 3.9rem 12.6rem 0rem;
  width: 15rem;
  height: 15.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .kings-wallet-bw-ZEs {
  margin: 0rem 2.4rem 12.3rem 0rem;
  width: 13.1rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy {
  margin-right: 2.4rem;
  width: 68.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .official-partner--uT9 {
  margin: 0rem 18.2rem 5.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .auto-group-yhxo-mVM {
  margin: 0rem 0rem 10.5rem 1rem;
  width: calc(100% - 1rem);
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .auto-group-yhxo-mVM .auto-group-jzsd-rWo {
  box-sizing: border-box;
  padding-right: 3.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .auto-group-yhxo-mVM .auto-group-jzsd-rWo .extra-joss-bw-NEF {
  margin-right: 4.5rem;
  width: 22.8rem;
  height: 4.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .auto-group-yhxo-mVM .auto-group-jzsd-rWo .mpm-honda-bw-rv7 {
  width: 15.2rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .auto-group-yhxo-mVM .sponsor-ums-white-Mby {
  width: 21.2rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .group-2-4WP {
  margin-right: 3.8rem;
  width: calc(100% - 3.8rem);
  height: 8.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .group-2-4WP .flash-fit-bw-YAf {
  width: 13.4rem;
  height: 8.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .group-2-4WP .auto-group-ultd-pP5 {
  box-sizing: border-box;
  padding-left: 3.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .group-2-4WP .auto-group-ultd-pP5 .sponsor-surya-white-v2-9AT {
  margin: 0.9rem 3.4rem 0rem 0rem;
  width: 17rem;
  height: 7.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .auto-group-uonj-RXy .group-2-4WP .auto-group-ultd-pP5 .tribun-news-bw-1Cf {
  width: 27.6rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.berita-B1d .sponsor-FLf .nusanet-bw-5yD {
  margin-bottom: 12.5rem;
  width: 16.4rem;
  height: 4.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
