
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.berita-4Jf {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-3-EsM {
    align-items: center;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.8rem 15.8rem 1.8rem 7.9rem;
    width: 100%;
    height: 12.9rem;
    display: flex;

    .logo-1-Kfq {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.7rem;
      width: 8.8rem;
      height: 9.3rem;
    }
    .home-QhH {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-6xn7-419 {
      margin: 2.7rem 9.8rem 3.5rem 0rem;
      width: 8.7rem;
      height: calc(100% - 6.2rem);
      position: relative;
      flex-shrink: 0;

      .berita-Heb {
        font-size: 2.4rem;
        font-weight: 800;
        color: #0c8544;
        height: 3rem;
        position: absolute;
        top: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.7rem;
        left: 0;
      }
      .rectangle-19-m3y {
        width: 8.5rem;
        height: 0.2rem;
        position: absolute;
        left: 0.1rem;
        top: 2.9rem;
        background-color: #f1d012;
      }
    }
    .tim-qJj {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
    }
    .pertandingan-7GF {
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .club-C2o {
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .gallery-hkF {
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-q4jo-Psy {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 14.7rem 5.2rem 9.4rem 5.2rem;
    width: 100%;

    .persebaya-tZq {
      box-sizing: border-box;
      padding: 1.1rem 2.2rem;
      font-size: 3.3rem;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #036933;
      flex-shrink: 0;
      margin-bottom: 3.7rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2;
      color: #ffffff;
      width: 83.8rem;
    }
    .frame-2-Kf9 {
      margin-bottom: 9.4rem;
      width: 86.4rem;
      flex-shrink: 0;

      .auto-group-h1dm-eBd {
        align-items: flex-start;
        margin: 0rem 4.3rem 2rem 0rem;
        width: calc(100% - 4.3rem);
        display: flex;

        .image-1--udM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 23rem;
          height: 15.4rem;
          position: relative;
        }
        .teks-1-Qq1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .aji-tekankan-pemainnya-fokus-ke-pertandingan-wa3 {
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2.3rem;
            font-weight: 800;
            line-height: 1.2;
          }
          .tren-positif-persebaya-akan-diuji-lawan-berat-di-pekan-ke-22-bri-liga-1-musim-2022-2023-tim-penghuni-papan-atas-borneo-fc-akan-menantang-bajol-ijo-di-gelora-Cno {
            max-width: 57.3rem;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-bgdh-Bej {
        margin: 0rem 4.8rem 2rem 0rem;
        width: calc(100% - 4.8rem);
        display: flex;
        align-items: flex-start;

        .image-2-5k7 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 23rem;
          height: 15.4rem;
        }
        .teks-2-biT {
          flex-direction: column;
          flex-shrink: 0;
          display: flex;

          .rindu-bonek-di-kandang-LR9 {
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2.3rem;
            font-weight: 800;
            line-height: 1.2;
            color: #000000;
          }
          .hari-yang-ditunggu-bonek-akhirnya-tiba-pertandingan-persebaya-surabaya-melawan-borneo-fc-yang-digelar-di-stadion-joko-samudro-gresik-jumat-3-2-akan-menjadi-q71 {
            max-width: 56.8rem;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-gkjm-qWK {
        margin: 0rem 4.2rem 2rem 0rem;
        width: calc(100% - 4.2rem);
        display: flex;
        align-items: flex-start;

        .image-3-MDm {
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 23rem;
          height: 15.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .teks-3-rAX {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jangan-cepat-pulang-marsel-Bib {
            font-size: 2.3rem;
            font-weight: 800;
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
          }
          .kami-di-persebaya-ikut-bangga-akhirnya-marsel-menuntaskan-negosiasi-di-kmsk-deinze-sebenarnya-kami-berat-hati-melepasnya-bagaimana-pun-marsel-sangat-dibutuhkan-VUP {
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 57.4rem;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            color: #000000;
          }
        }
      }
      .auto-group-vepj-81Z {
        margin: 0rem 3.7rem 4rem 0rem;
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: flex-start;

        .image-4-dyu {
          margin-right: 1.8rem;
          width: 23rem;
          height: 15.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .teks-4-9BZ {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .gol-perdana-supersub-untuk-calon-buah-hati-VWK {
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2.3rem;
            font-weight: 800;
          }
          .gelandang-serang-persebaya-surabaya-ahmad-nufiandani-sukses-mencetak-gol-perdananya-di-pentas-liga-1-2022-2023-saat-mengalahkan-madura-united-dengan-skor-0-2-g-b3Z {
            flex-shrink: 0;
            max-width: 57.9rem;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
          }
        }
      }
      .nomor-halaman-RHV {
        height: 6.6rem;
        display: flex;
        column-gap: 2.2rem;
        align-items: center;
        margin-left: 0.6rem;

        .auto-group-zv3v-vEF {
          box-sizing: border-box;
          padding: 2.4rem 2.7rem 2.455rem 2.7rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          flex-shrink: 0;

          .icon-chevron-right-dPZ {
            vertical-align: top;
            width: 1.2rem;
            height: 1.7455rem;
            object-fit: contain;
          }
        }
        .auto-group-y2mr-JEo {
          font-family: Lato, 'Source Sans Pro';
          box-sizing: border-box;
          width: 6.6rem;
          color: #ffffff;
          line-height: 1.2;
          align-items: center;
          height: 100%;
          text-align: center;
          border: solid 0.1rem #000000;
          background-color: #036933;
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-weight: 700;
        }
        .auto-group-v9b9-vGB {
          width: 6.6rem;
          justify-content: center;
          height: 100%;
          font-weight: 700;
          color: #036933;
          box-sizing: border-box;
          background-color: #ffffff;
          font-size: 2rem;
          line-height: 1.2;
          font-family: Lato, 'Source Sans Pro';
          align-items: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          text-align: center;
          white-space: nowrap;
          display: flex;
        }
        .auto-group-cfqp-mnb {
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          line-height: 1.2;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          font-size: 2rem;
          text-align: center;
          width: 6.6rem;
          font-weight: 700;
          color: #036933;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          height: 100%;
        }
        .auto-group-tbj3-qXZ {
          align-items: center;
          text-align: center;
          white-space: nowrap;
          justify-content: center;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          border: solid 0.1rem #000000;
          width: 6.6rem;
          height: 100%;
          font-size: 2rem;
          font-weight: 700;
          color: #036933;
          background-color: #ffffff;
          flex-shrink: 0;
          line-height: 1.2;
          box-sizing: border-box;
        }
        .auto-group-ukjq-V6K {
          width: 6.6rem;
          color: #036933;
          font-family: Lato, 'Source Sans Pro';
          text-align: center;
          line-height: 1.2;
          align-items: center;
          background-color: #ffffff;
          font-weight: 700;
          display: flex;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          font-size: 2rem;
          white-space: nowrap;
          justify-content: center;
          border: solid 0.1rem #000000;
        }
        .auto-group-gtb9-wDD {
          box-sizing: border-box;
          background-color: #ffffff;
          text-align: center;
          font-weight: 700;
          line-height: 1.2;
          color: #036933;
          display: flex;
          justify-content: center;
          height: 100%;
          font-size: 2rem;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.6rem;
          align-items: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
        }
        .auto-group-uchq-amy {
          text-align: center;
          line-height: 1.2;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 6.6rem;
          height: 100%;
          font-family: Lato, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          white-space: nowrap;
          justify-content: center;
          font-size: 2rem;
          font-weight: 700;
          color: #036933;
          display: flex;
        }
        .auto-group-9xl7-4SF {
          font-family: Lato, 'Source Sans Pro';
          background-color: #ffffff;
          flex-shrink: 0;
          font-weight: 700;
          width: 6.6rem;
          height: 100%;
          font-size: 2rem;
          display: flex;
          justify-content: center;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          text-align: center;
          line-height: 1.2;
          white-space: nowrap;
          color: #036933;
          align-items: center;
        }
        .auto-group-brdh-Xqd {
          box-sizing: border-box;
          padding: 2.4rem 2.6rem 2.455rem 2.8rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          flex-shrink: 0;

          .icon-chevron-right-Ezw {
            width: 1.2rem;
            height: 1.7455rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .message-tJo {
      width: 41.9rem;
      flex-shrink: 0;

      .write-your-message-for-us-R3q {
        white-space: nowrap;
        margin-bottom: 3.2rem;
        font-size: 2.3rem;
        font-weight: 800;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
      }
      .auto-group-xj4o-uUo {
        width: 100%;
        font-weight: 600;
        line-height: 1.2125;
        border: solid 0.1rem #036933;
        margin-bottom: 1.8rem;
        box-sizing: border-box;
        padding: 2.1rem 2.1rem 2.4rem 2.1rem;
        font-size: 1.3rem;
        color: #d9d9d9;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-jg4j-XFH {
        width: 100%;
        height: 14.7rem;
        font-size: 1.3rem;
        line-height: 1.2125;
        color: #d9d9d9;
        white-space: nowrap;
        margin-bottom: 1.8rem;
        padding: 1.8rem 2.1rem;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #036933;
        box-sizing: border-box;
        font-weight: 600;
      }
      .auto-group-absh-mQX {
        height: 4.5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        line-height: 1.2;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #036933;
      }
    }
  }
  .sponsor-DnK {
    height: 47.9rem;
    display: flex;
    align-items: center;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.9rem 11.2rem 9.7rem 11.2rem;
    width: 100%;

    .sponsor-kapal-api-v2-1-1-uQF {
      height: 15.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.9rem 12.6rem 0rem;
      width: 15rem;
    }
    .kings-wallet-bw-Bcf {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.4rem 12.3rem 0rem;
      width: 13.1rem;
      height: 15.2rem;
      object-fit: cover;
    }
    .auto-group-uonj-t1H {
      margin-right: 2.4rem;
      width: 68.4rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .official-partner--Pyd {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 18.2rem 5.3rem 0rem;
        font-size: 1.6rem;
        font-weight: 800;
      }
      .auto-group-yhxo-ghq {
        margin: 0rem 0rem 10.5rem 1rem;
        width: calc(100% - 1rem);
        height: 4.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-jzsd-nks {
          box-sizing: border-box;
          padding-right: 3.7rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .extra-joss-bw-uKh {
            height: 4.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.5rem;
            width: 22.8rem;
          }
          .mpm-honda-bw-1tX {
            height: 4.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 15.2rem;
          }
        }
        .sponsor-ums-white-KuD {
          width: 21.2rem;
          height: 4.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-2-SU3 {
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.8rem;
        width: calc(100% - 3.8rem);
        height: 8.6rem;
        display: flex;

        .flash-fit-bw-Mb1 {
          flex-shrink: 0;
          width: 13.4rem;
          height: 8.6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-ultd-Te3 {
          box-sizing: border-box;
          padding-left: 3.2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .sponsor-surya-white-v2-P1u {
            height: 7.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.9rem 3.4rem 0rem 0rem;
            width: 17rem;
          }
          .tribun-news-bw-GrP {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 27.6rem;
            height: 7.4rem;
          }
        }
      }
    }
    .nusanet-bw-AB5 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 12.5rem;
      width: 16.4rem;
      height: 4.4rem;
    }
  }
}
