
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pertandingan-ewD {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-nbun-UfM {
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 1.1rem;
    padding: 1.8rem 15.8rem 1.7rem 7.3rem;
    height: 12.8rem;
    display: flex;
    align-items: center;
    background-color: #000000;

    .logo-1-6if {
      margin-right: 6.2rem;
      width: 7.9rem;
      height: 9.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .home-ynT {
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
    }
    .berita-BtX {
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
    }
    .tim-5yu {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
    }
    .auto-group-odvr-ui3 {
      margin: 2.7rem 9.8rem 3.5rem 0rem;
      width: 19.3rem;
      height: calc(100% - 6.2rem);
      position: relative;
      flex-shrink: 0;

      .pertandingan-CBM {
        height: 3rem;
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        color: #0c8544;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.3rem;
        left: 0;
        font-weight: 800;
        line-height: 1.2125;
      }
      .rectangle-19-fKq {
        width: 19.1rem;
        height: 0.2rem;
        position: absolute;
        left: 0.1rem;
        top: 2.9rem;
        background-color: #f1d012;
      }
    }
    .club-A1h {
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.8rem 0.9rem 0rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
    }
    .gallery-UHH {
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c8544;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .div-Avo {
    margin: 0rem 15.4rem 0rem 14.6rem;
    width: calc(100% - 30rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .div-UAo {
      margin: 0rem 39.891rem 1.1rem 39.909rem;
      width: calc(100% - 79.8rem);
      height: 7.6594rem;
      position: relative;
      flex-shrink: 0;

      .jadwal-pertandingan-WtB {
        justify-content: center;
        left: 0;
        line-height: 1.1999999455;
        top: 0;
        display: flex;
        align-items: center;
        font-size: 2.8rem;
        font-weight: 900;
        font-family: Lato, 'Source Sans Pro';
        width: 34.2rem;
        position: absolute;
        color: #212529;
        white-space: nowrap;
        height: 3.4rem;
      }
      .a-b8w {
        width: 12.4156rem;
        justify-content: center;
        top: 2.7594rem;
        text-align: right;
        display: flex;
        font-weight: 900;
        line-height: 1.5;
        color: #036933;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.9rem;
        position: absolute;
        left: 9.4752rem;
        font-size: 1.4rem;
        align-items: center;
        border: solid 0.2rem #036933;
        box-sizing: border-box;
      }
    }
    .div-6E7 {
      background-position: 0 -22.7281rem;
      background-image: url('REPLACE_IMAGE:b63f65956e7b6e368aa3eabd1287ec858ca42cea');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.9rem 6.3rem 2.4rem 6.3rem;
      width: 100%;
      height: 37.7438rem;
      background-size: 100% 220.434%;

      .div-ncj {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .next-match-jXy {
          font-weight: 900;
          color: #036933;
          white-space: nowrap;
          margin: 0rem 0rem 2.48rem 0.08rem;
          align-items: center;
          justify-content: center;
          font-size: 2.4rem;
          display: flex;
          line-height: 1.1999999682;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .div-ppK {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.95rem 6.988rem 3.05rem 6.988rem;
          width: 100%;
          height: 26.0641rem;
          background-color: #036933;

          .div-WBM {
            align-items: center;
            width: 64.7764rem;
            height: 100%;
            display: flex;

            .div-asM {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 6.432rem 10.245rem 6.432rem 0rem;
              height: calc(100% - 12.8641rem);

              .rabu-08-februari-2023-yuV {
                flex-shrink: 0;
                max-width: 12.4rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 900;
                line-height: 1.5;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
              }
              .stadion-jatidiri-fGX {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                margin-left: 0.0895rem;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .div-xWX {
              width: 42.1313rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .bri-liga-1-2022-2023-tuy {
                display: flex;
                font-size: 1.6rem;
                font-weight: 900;
                line-height: 1.5;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1.481rem 0.242rem;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
              }
              .div-4xs {
                flex-shrink: 0;
                margin-bottom: 0.9828rem;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .psis-semarang-5cd9415c19e46png-NTm {
                  width: 12rem;
                  height: 12rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:ce0109fbd976748c2f69d9e4445673d402ac9d0b');
                  flex-shrink: 0;
                  margin-right: 4.8748rem;
                }
                .div-d8o {
                  margin: 0rem 4.856rem 0.606rem 0rem;
                  width: 8.4rem;
                  height: 5.65rem;
                  position: relative;
                  flex-shrink: 0;

                  .kick-off-vNo {
                    position: absolute;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #ffffff;
                    height: 1.8rem;
                    left: 1.5rem;
                    white-space: nowrap;
                    width: 5.4rem;
                    top: 0;
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .item-18-30-P1V {
                    white-space: nowrap;
                    height: 3.9rem;
                    position: absolute;
                    left: 0;
                    justify-content: center;
                    width: 8.4rem;
                    font-weight: 900;
                    line-height: 1.2000000477;
                    display: flex;
                    align-items: center;
                    font-size: 3.2rem;
                    top: 1.75rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                }
                .persebaya-surabaya-5ba4ae0395a81png-fDu {
                  width: 12rem;
                  height: 12rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
                  flex-shrink: 0;
                }
              }
              .div-Lqq {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin: 0rem 2.691rem 0rem 1.31rem;
                width: calc(100% - 4.0008rem);

                .psis-semarang-1BH {
                  font-family: Lato, 'Source Sans Pro';
                  font-weight: 700;
                  line-height: 1.1428571429;
                  color: #ffffff;
                  margin-right: 22.1305rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.4rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .persebaya-surabaya-W83 {
                  display: flex;
                  font-size: 1.4rem;
                  line-height: 1.1428571429;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 6.6rem;
                  align-items: center;
                  justify-content: center;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      .div-6E7-bg {
        position: relative;
        background-image: url('REPLACE_IMAGE:b63f65956e7b6e368aa3eabd1287ec858ca42cea');
        width: 114rem;
        height: 37.7438rem;
      }
    }
    .auto-group-2s8e-W1Z {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem 3.8rem 8.3rem 3.8rem;

      .divmatch-carousel-pH9 {
        margin-bottom: 3rem;
        width: 100%;
        height: 5.8rem;
        display: flex;
        column-gap: 0.3844rem;
        align-items: center;
        flex-shrink: 0;

        .span-8Yj {
          white-space: nowrap;
          background-color: #036933;
          margin: 1.9rem 0;
          height: calc(100% - 3.8rem);
          align-items: center;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1;
          border-radius: 1.029rem;
          width: 2.1156rem;
          display: flex;
          justify-content: center;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .div-AkK {
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .a-Jbd {
            background-color: #f1d015;
            box-sizing: border-box;
            padding: 0.45rem 7.091rem 0.55rem 7.109rem;
            display: flex;
            border: solid 0.1rem #f8f9fa;
            height: 100%;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;

            .feb-q5m {
              justify-content: center;
              font-size: 1.6rem;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              color: #000000;
              flex-shrink: 0;
              font-weight: 900;
              line-height: 1.5;
            }
            .item-23-Yks {
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1.5;
              white-space: nowrap;
              font-size: 1.6rem;
              font-weight: 900;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .a-ogo {
            border: solid 0.1rem #f8f9fa;
            background-color: #036933;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0.45rem 6.891rem 0.55rem 6.909rem;
            align-items: center;

            .mar-jaT {
              display: flex;
              justify-content: center;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              align-items: center;
              font-size: 1.6rem;
              font-weight: 900;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-23-U2F {
              display: flex;
              justify-content: center;
              line-height: 1.5;
              flex-shrink: 0;
              white-space: nowrap;
              align-items: center;
              font-size: 1.6rem;
              font-weight: 900;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .a-9u5 {
            align-items: center;
            background-color: #036933;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            flex-direction: column;
            border: solid 0.1rem #f8f9fa;
            padding: 0.45rem 7.04rem 0.55rem 7.06rem;
            display: flex;

            .apr-4FM {
              line-height: 1.5;
              color: #ffffff;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-size: 1.6rem;
              white-space: nowrap;
              align-items: center;
              font-weight: 900;
              font-family: Lato, 'Source Sans Pro';
            }
            .item-23-Zhu {
              align-items: center;
              color: #ffffff;
              flex-shrink: 0;
              font-weight: 900;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              font-size: 1.6rem;
            }
          }
          .a-rS7 {
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex-direction: column;
            border: solid 0.1rem #f8f9fa;
            background-color: #036933;
            flex-shrink: 0;
            padding: 0.45rem 6.991rem 0.55rem 7.009rem;
            height: 100%;

            .mei-z2X {
              display: flex;
              align-items: center;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              justify-content: center;
              font-weight: 900;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-23-ttb {
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              display: flex;
              font-weight: 900;
              line-height: 1.5;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.6rem;
            }
          }
          .a-Ar7 {
            background-color: #036933;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.45rem 7.141rem 0.55rem 7.159rem;
            align-items: center;
            display: flex;
            border: solid 0.1rem #f8f9fa;
            height: 100%;
            flex-direction: column;

            .jun-5CP {
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 900;
              color: #ffffff;
              flex-shrink: 0;
            }
            .item-23-Mfh {
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
              justify-content: center;
              font-weight: 900;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              align-items: center;
            }
          }
          .a-4KD {
            background-color: #036933;
            flex-shrink: 0;
            height: 100%;
            align-items: center;
            display: flex;
            border: solid 0.1rem #f8f9fa;
            box-sizing: border-box;
            padding: 0.45rem 7.291rem 0.55rem 7.309rem;
            flex-direction: column;

            .jul-ANF {
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 900;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              align-items: center;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .item-23-29Z {
              font-size: 1.6rem;
              font-weight: 900;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              color: #ffffff;
              white-space: nowrap;
              align-items: center;
            }
          }
        }
        .i-fyD {
          align-items: center;
          font-size: 1rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1;
          white-space: nowrap;
          background-color: #036933;
          margin: 1.9rem 0;
          width: 2.1156rem;
          height: calc(100% - 3.8rem);
          display: flex;
          justify-content: center;
          color: #ffffff;
          border-radius: 1.029rem;
        }
      }
      .div02-2023-LZZ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 3.2rem;
        width: calc(100% - 6.4rem);

        .div-f63 {
          align-items: center;
          border: solid 0.1rem #dee2e6;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.55rem 6.3rem 1.75rem 6.288rem;
          width: 100%;
          height: 21.7rem;
          display: flex;

          .div-x59 {
            margin: 4.4rem 8.633rem 4.4rem 0rem;
            height: calc(100% - 8.8rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .jumat-03-februari-2023-eif {
              font-weight: 900;
              line-height: 1.5;
              color: #212529;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 12.4rem;
              display: flex;
              font-size: 1.6rem;
            }
            .stadion-gelora-joko-samudro-gresik-N8s {
              max-width: 14rem;
              flex-shrink: 0;
              margin-left: 0.0123rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #212529;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .div-FyM {
            margin-right: 8.9359rem;
            width: 42.1313rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .bri-liga-1-2022-2023-bXR {
              justify-content: center;
              color: #212529;
              display: flex;
              align-items: center;
              font-size: 1.6rem;
              font-weight: 900;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.05rem 0.162rem;
            }
            .div-hKZ {
              align-items: flex-end;
              flex-shrink: 0;
              margin-bottom: 0.75rem;
              width: 100%;
              display: flex;

              .persebaya-surabaya-5ba4ae0395a81png-38X {
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
                flex-shrink: 0;
                margin-right: 6.1156rem;
                width: 12rem;
              }
              .item-3-2-55D {
                justify-content: center;
                font-size: 3.2rem;
                line-height: 1.2000000477;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 5.816rem 1.508rem 0rem;
                display: flex;
                align-items: center;
                font-weight: 900;
                flex-shrink: 0;
              }
              .borneo-fc-5ba47aaf93a6fpng-Na7 {
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:f6e18ae3a9e821a91031206eea36f9f55a6e96ec');
                flex-shrink: 0;
              }
            }
            .div-GvP {
              margin: 0rem 2.64rem 0rem 2.709rem;
              width: calc(100% - 5.3492rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .persebaya-surabaya-17H {
                margin-right: 23.482rem;
                max-width: 6.6rem;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                line-height: 1.1428571429;
                flex-shrink: 0;
                justify-content: center;
                font-weight: 700;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
              }
              .borneo-fc-TEB {
                font-size: 1.4rem;
                line-height: 1.1428571429;
                color: #212529;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-family: Lato, 'Source Sans Pro';
              }
            }
          }
          .a-Zo1 {
            justify-content: center;
            height: calc(100% - 15.45rem);
            display: flex;
            line-height: 1.5;
            white-space: nowrap;
            margin: 7.775rem 0rem 7.675rem 0rem;
            width: 13.7rem;
            font-family: Lato, 'Source Sans Pro';
            align-items: center;
            font-size: 1.3rem;
            font-weight: 900;
            color: #000000;
            background-color: #f1d015;
            flex-shrink: 0;
          }
        }
        .div-A27 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.55rem 28.936rem 1.75rem 6.288rem;
          width: 100%;
          height: 22.1641rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #dee2e6;

          .div-qtw {
            margin: 5.832rem 10.245rem 5.832rem 0rem;
            height: calc(100% - 11.6641rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rabu-08-februari-2023-yET {
              max-width: 12.4rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 900;
              line-height: 1.5;
              color: #212529;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .stadion-jatidiri-tcK {
              margin-left: 0.0895rem;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              color: #212529;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .div-Csu {
            width: 42.1313rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .bri-liga-1-2022-2023-kPd {
              display: flex;
              font-weight: 900;
              color: #212529;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.281rem 0.162rem;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
            }
            .div-2rw {
              width: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin-bottom: 0.9828rem;

              .psis-semarang-5cd9415c19e46png-ACT {
                flex-shrink: 0;
                margin-right: 4.8748rem;
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:ce0109fbd976748c2f69d9e4445673d402ac9d0b');
              }
              .div-dLw {
                height: 5.65rem;
                position: relative;
                flex-shrink: 0;
                margin: 0rem 4.856rem 0.606rem 0rem;
                width: 8.4rem;

                .kick-off-Yio {
                  top: 0;
                  align-items: center;
                  width: 5.4rem;
                  position: absolute;
                  font-weight: 400;
                  line-height: 1.5;
                  font-size: 1.2rem;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 1.8rem;
                  left: 1.5rem;
                  color: #212529;
                  display: flex;
                  justify-content: center;
                }
                .item-18-30-qhu {
                  top: 1.75rem;
                  align-items: center;
                  font-size: 3.2rem;
                  height: 3.9rem;
                  position: absolute;
                  font-weight: 900;
                  line-height: 1.2000000477;
                  width: 8.4rem;
                  left: 0;
                  color: #212529;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                }
              }
              .persebaya-surabaya-5ba4ae0395a81png-Fmd {
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
                flex-shrink: 0;
                width: 12rem;
                height: 12rem;
              }
            }
            .div-8Kd {
              margin: 0rem 2.691rem 0rem 1.31rem;
              width: calc(100% - 4.0008rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .psis-semarang-Ff9 {
                flex-shrink: 0;
                font-family: Lato, 'Source Sans Pro';
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.1428571429;
                color: #212529;
                margin-right: 22.1305rem;
                white-space: nowrap;
              }
              .persebaya-surabaya-vFV {
                align-items: center;
                font-weight: 700;
                line-height: 1.1428571429;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 6.6rem;
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
              }
            }
          }
        }
        .div-A9q {
          align-items: center;
          border: solid 0.1rem #dee2e6;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.55rem 28.936rem 1.75rem 6.288rem;
          width: 100%;
          height: 22.1641rem;
          display: flex;

          .senin-13-februari-2023-spw {
            margin: 0.1rem 10.245rem 0rem 0rem;
            display: flex;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
            color: #212529;
            max-width: 12.4rem;
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.5;
          }
          .div-aDZ {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 42.1313rem;
            height: 100%;

            .bri-liga-1-2022-2023-6Bu {
              font-weight: 900;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.5;
              color: #212529;
              margin: 0rem 0rem 0.281rem 0.162rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
            }
            .div-o6K {
              flex-shrink: 0;
              margin-bottom: 0.9828rem;
              width: 100%;
              display: flex;
              align-items: flex-end;

              .persebaya-surabaya-5ba4ae0395a81png-k1Z {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
                flex-shrink: 0;
                margin-right: 4.8748rem;
                width: 12rem;
                height: 12rem;
                position: relative;
              }
              .div-pGK {
                margin: 0rem 4.856rem 0.606rem 0rem;
                width: 8.4rem;
                height: 5.65rem;
                position: relative;
                flex-shrink: 0;

                .kick-off-ju5 {
                  width: 5.4rem;
                  height: 1.8rem;
                  align-items: center;
                  justify-content: center;
                  font-family: Lato, 'Source Sans Pro';
                  display: flex;
                  font-weight: 400;
                  line-height: 1.5;
                  white-space: nowrap;
                  font-size: 1.2rem;
                  color: #212529;
                  position: absolute;
                  left: 1.5rem;
                  top: 0;
                }
                .item-16-00-p9q {
                  width: 8.4rem;
                  left: 0;
                  line-height: 1.2000000477;
                  height: 3.9rem;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                  align-items: center;
                  font-size: 3.2rem;
                  top: 1.75rem;
                  display: flex;
                  justify-content: center;
                  font-weight: 900;
                  color: #212529;
                }
              }
              .pss-sleman-5cd940ae681f1png-hzK {
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:c0325ae0f9acf35d751c4de6ddfcdf01222b64c2');
                flex-shrink: 0;
              }
            }
            .div-p3M {
              margin: 0rem 2.731rem 0rem 2.709rem;
              width: calc(100% - 5.44rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .persebaya-surabaya-iuR {
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.1428571429;
                margin-right: 23.5913rem;
                justify-content: center;
                align-items: center;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 6.6rem;
                display: flex;
              }
              .ps-sleman-EMy {
                display: flex;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.1428571429;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .div-U1R {
          border: solid 0.1rem #dee2e6;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.55rem 28.936rem 1.75rem 6.288rem;
          width: 100%;
          height: 22.1641rem;
          display: flex;
          align-items: center;

          .sabtu-18-februari-2023-PPH {
            line-height: 1.5;
            font-family: Lato, 'Source Sans Pro';
            margin: 0.1rem 10.245rem 0rem 0rem;
            max-width: 12.4rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 900;
            color: #212529;
            flex-shrink: 0;
          }
          .div-fLo {
            flex-shrink: 0;
            width: 42.1313rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .bri-liga-1-2022-2023-c19 {
              margin: 0rem 0rem 0.281rem 0.162rem;
              font-weight: 900;
              color: #212529;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
            }
            .div-4dq {
              margin-bottom: 0.9828rem;
              width: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .bali-united-fc-5ba47addf2db8png-btf {
                flex-shrink: 0;
                margin-right: 4.8748rem;
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:d535d3107e1e031e2070aed93b1507711b38a712');
              }
              .div-gQK {
                margin: 0rem 4.856rem 0.606rem 0rem;
                width: 8.4rem;
                height: 5.65rem;
                position: relative;
                flex-shrink: 0;

                .kick-off-kf5 {
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  top: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 5.4rem;
                  left: 1.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  height: 1.8rem;
                  position: absolute;
                  color: #212529;
                }
                .item-18-30-E4T {
                  font-weight: 900;
                  font-family: Lato, 'Source Sans Pro';
                  left: 0;
                  font-size: 3.2rem;
                  align-items: center;
                  line-height: 1.2000000477;
                  color: #212529;
                  width: 8.4rem;
                  height: 3.9rem;
                  position: absolute;
                  justify-content: center;
                  white-space: nowrap;
                  top: 1.75rem;
                  display: flex;
                }
              }
              .persebaya-surabaya-5ba4ae0395a81png-teo {
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
                flex-shrink: 0;
              }
            }
            .div-zSw {
              margin: 0rem 2.691rem 0rem 1.51rem;
              width: calc(100% - 4.2008rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .bali-united-fc-qyM {
                align-items: center;
                justify-content: center;
                line-height: 1.1428571429;
                flex-shrink: 0;
                white-space: nowrap;
                margin-right: 22.3305rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: 700;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
              }
              .persebaya-surabaya-Z8f {
                max-width: 6.6rem;
                justify-content: center;
                flex-shrink: 0;
                line-height: 1.1428571429;
                color: #212529;
                font-family: Lato, 'Source Sans Pro';
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 700;
              }
            }
          }
        }
        .div-paP {
          align-items: center;
          border: solid 0.1rem #dee2e6;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.55rem 28.936rem 1.75rem 6.288rem;
          width: 100%;
          height: 22.1641rem;
          display: flex;

          .jumat-24-februari-2023-KGF {
            margin: 0.1rem 10.245rem 0rem 0rem;
            max-width: 12.4rem;
            display: flex;
            font-size: 1.6rem;
            color: #212529;
            font-family: Lato, 'Source Sans Pro';
            font-weight: 900;
            line-height: 1.5;
            flex-shrink: 0;
          }
          .div-BpF {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 42.1313rem;
            height: 100%;

            .bri-liga-1-2022-2023-XdD {
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-weight: 900;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 0.281rem 0.162rem;
              align-items: center;
              font-size: 1.6rem;
              color: #212529;
            }
            .div-q87 {
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin-bottom: 0.9828rem;
              width: 100%;

              .persebaya-surabaya-5ba4ae0395a81png-kVy {
                flex-shrink: 0;
                margin-right: 4.8748rem;
                width: 12rem;
                height: 12rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:8f9eeeb6958589ae7dae0569276dbf4a14568444');
              }
              .div-dJs {
                margin: 0rem 4.856rem 0.606rem 0rem;
                width: 8.4rem;
                height: 5.65rem;
                position: relative;
                flex-shrink: 0;

                .kick-off-9o1 {
                  height: 1.8rem;
                  position: absolute;
                  left: 1.5rem;
                  top: 0;
                  display: flex;
                  justify-content: center;
                  font-weight: 400;
                  color: #212529;
                  line-height: 1.5;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 5.4rem;
                  font-size: 1.2rem;
                  align-items: center;
                }
                .item-16-00-Qyq {
                  color: #212529;
                  white-space: nowrap;
                  position: absolute;
                  align-items: center;
                  line-height: 1.2000000477;
                  font-family: Lato, 'Source Sans Pro';
                  height: 3.9rem;
                  left: 0;
                  top: 1.75rem;
                  font-weight: 900;
                  width: 8.4rem;
                  display: flex;
                  justify-content: center;
                  font-size: 3.2rem;
                }
              }
              .psm-makassar-5ba47b8f64fa5png-JpK {
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:53bee25d69523deae190fbf5625a904ab5edd682');
                flex-shrink: 0;
                width: 12rem;
                height: 12rem;
                position: relative;
              }
            }
            .div-QsM {
              margin: 0rem 1.341rem 0rem 2.709rem;
              width: calc(100% - 4.05rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .persebaya-surabaya-9K9 {
                max-width: 6.6rem;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 700;
                color: #212529;
                margin-right: 22.1813rem;
                line-height: 1.1428571429;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
              }
              .psm-makassar-AEF {
                font-weight: 700;
                line-height: 1.1428571429;
                white-space: nowrap;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                color: #212529;
              }
            }
          }
        }
      }
    }
    .divfooter-divider-3oq {
      flex-shrink: 0;
      width: 100%;
      height: 5rem;
      background-color: #036933;
    }
    .divfooter-top-xvo {
      display: flex;
      align-items: center;
      background-color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem 6.05rem 1.8rem 4.8rem;
      width: 100%;
      height: 33.3844rem;

      .auto-group-widg-eYj {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.4rem 9rem 0rem;
        display: flex;

        .sponsor-kapal-api-v2png-Kes {
          background-image: url('REPLACE_IMAGE:14cb7fd0a499935ce782dae7e299658a7b0c38e8');
          flex-shrink: 0;
          margin: 0rem 0rem 3.2rem 0.8rem;
          width: 11rem;
          height: 11.3656rem;
          position: relative;
          background-size: 100% 100%;
        }
        .tribun20news20bwpng-1Xh {
          background-image: url('REPLACE_IMAGE:e192be8f867ca87fbf0b71cad8758a3ea680afde');
          flex-shrink: 0;
          width: 15rem;
          height: 4.0188rem;
          position: relative;
          background-size: 100% 100%;
        }
      }
      .kings20wallet20bwpng-7aj {
        height: 8.6797rem;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:91dd4fd7eab160fbbbb0aa46b31443db9cce6f02');
        flex-shrink: 0;
        margin: 0rem 3.4rem 16.22rem 0rem;
        width: 7.5rem;
      }
      .auto-group-pnt2-bko {
        margin: 4.216rem 2.49rem 0rem 0rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-5hpn-Kwh {
          margin: 0rem 0.71rem 15.734rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .extra20joss20bwpng-CEo {
            height: 1.7969rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:e4549ec5a66a757f95e21f4908e236f313148a33');
            flex-shrink: 0;
            margin: 0.256rem 4.8rem 0rem 0rem;
            width: 9.5rem;
          }
          .mpm20honda20bwpng-UCK {
            height: 2.9344rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:d5980f7ade2d31083d1f03d0f71550dc240edbd9');
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 9.5rem;
          }
          .sponsor-ums-whitepng-yes {
            width: 9.5rem;
            height: 2.1938rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:524ceba08266d7322fafd2dd9ca0075cf1ba8353');
            flex-shrink: 0;
            margin-top: 0.1313rem;
          }
        }
        .div-HQf {
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 7.21rem;
          align-items: center;
          display: flex;

          .privacy-policy-cC3 {
            align-items: center;
            justify-content: center;
            font-weight: 400;
            flex-shrink: 0;
            margin: 0rem 0rem 1.3rem 1.4rem;
            display: flex;
            font-size: 1.1rem;
            line-height: 1.5;
            color: #d4d4d4;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
          .this-website-is-2023-persebaya-surabaya-all-rights-reserved-JqZ {
            align-items: center;
            font-size: 1.1rem;
            font-weight: 400;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            line-height: 1.5;
            color: #d4d4d4;
          }
        }
      }
      .nusanet20bwpng-ZmV {
        flex-shrink: 0;
        margin: 0rem 3.2rem 16.22rem 0rem;
        width: 9.5rem;
        height: 2.5453rem;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:0ecfd34e2171a12563f2e413947620a8bc3391a6');
      }
      .flash20fit20bwpng-1Nb {
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:28c49b02a17fabe5d0d7fcc559ebadd92c67395a');
        flex-shrink: 0;
        margin: 0rem 3.95rem 16.22rem 0rem;
        width: 9.5rem;
        height: 7.4297rem;
        position: relative;
      }
      .sponsor-surya-white-v2png-JMh {
        flex-shrink: 0;
        margin-bottom: 16.2203rem;
        width: 8rem;
        height: 3.6266rem;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:0e096ced079989de283f07b84548daa667de45ed');
      }
    }
  }
}
