
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pertandingan-ewD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pertandingan-ewD .auto-group-nbun-UfM {
  margin-bottom: 1.1rem;
  box-sizing: border-box;
  padding: 1.8rem 15.8rem 1.7rem 7.3rem;
  width: 100%;
  height: 12.8rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .logo-1-6if {
  margin-right: 6.2rem;
  width: 7.9rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .home-ynT {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .berita-BtX {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .tim-5yu {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .auto-group-odvr-ui3 {
  margin: 2.7rem 9.8rem 3.5rem 0rem;
  width: 19.3rem;
  height: calc(100% - 6.2rem);
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .auto-group-odvr-ui3 .pertandingan-CBM {
  width: 19.3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .auto-group-nbun-UfM .auto-group-odvr-ui3 .rectangle-19-fKq {
  width: 19.1rem;
  height: 0.2rem;
  position: absolute;
  left: 0.1rem;
  top: 2.9rem;
  background-color: #f1d012;
}
.pertandingan-ewD .auto-group-nbun-UfM .club-A1h {
  margin: 0rem 9.8rem 0.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .auto-group-nbun-UfM .gallery-UHH {
  margin-bottom: 0.9rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0c8544;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo {
  margin: 0rem 15.4rem 0rem 14.6rem;
  width: calc(100% - 30rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-UAo {
  margin: 0rem 39.891rem 1.1rem 39.909rem;
  width: calc(100% - 79.8rem);
  height: 7.6594rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-UAo .jadwal-pertandingan-WtB {
  width: 34.2rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.1999999455;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .div-UAo .a-b8w {
  width: 12.4156rem;
  height: 4.9rem;
  position: absolute;
  left: 9.4752rem;
  top: 2.7594rem;
  text-align: right;
  display: flex;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.5;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #036933;
  box-sizing: border-box;
}
.pertandingan-ewD .div-Avo .div-6E7 {
  box-sizing: border-box;
  padding: 3.9rem 6.3rem 2.4rem 6.3rem;
  width: 100%;
  height: 37.7438rem;
  background-size: 100% 220.434%;
  background-position: 0 -22.7281rem;
  background-image: url('../assets/div-bg.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .next-match-jXy {
  margin: 0rem 0rem 2.48rem 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.1999999682;
  color: #036933;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK {
  box-sizing: border-box;
  padding: 2.95rem 6.988rem 3.05rem 6.988rem;
  width: 100%;
  height: 26.0641rem;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM {
  width: 64.7764rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-asM {
  margin: 6.432rem 10.245rem 6.432rem 0rem;
  height: calc(100% - 12.8641rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-asM .rabu-08-februari-2023-yuV {
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-asM .stadion-jatidiri-fGX {
  margin-left: 0.0895rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX {
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .bri-liga-1-2022-2023-tuy {
  margin: 0rem 0rem 1.481rem 0.242rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs {
  margin-bottom: 0.9828rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs .psis-semarang-5cd9415c19e46png-NTm {
  margin-right: 4.8748rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/psis-semarang-5cd9415c19e46png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs .div-d8o {
  margin: 0rem 4.856rem 0.606rem 0rem;
  width: 8.4rem;
  height: 5.65rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs .div-d8o .kick-off-vNo {
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs .div-d8o .item-18-30-P1V {
  width: 8.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-4xs .persebaya-surabaya-5ba4ae0395a81png-fDu {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png-6Bu.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-Lqq {
  margin: 0rem 2.691rem 0rem 1.31rem;
  width: calc(100% - 4.0008rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-Lqq .psis-semarang-1BH {
  margin-right: 22.1305rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-ncj .div-ppK .div-WBM .div-xWX .div-Lqq .persebaya-surabaya-W83 {
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .div-6E7 .div-6E7-bg {
  width: 114rem;
  height: 37.7438rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b63f65956e7b6e368aa3eabd1287ec858ca42cea');
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z {
  box-sizing: border-box;
  padding: 4rem 3.8rem 8.3rem 3.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 {
  margin-bottom: 3rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  column-gap: 0.3844rem;
  align-items: center;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .span-8Yj {
  margin: 1.9rem 0;
  width: 2.1156rem;
  height: calc(100% - 3.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #036933;
  border-radius: 1.029rem;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Jbd {
  box-sizing: border-box;
  padding: 0.45rem 7.091rem 0.55rem 7.109rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #f1d015;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Jbd .feb-q5m {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Jbd .item-23-Yks {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-ogo {
  box-sizing: border-box;
  padding: 0.45rem 6.891rem 0.55rem 6.909rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-ogo .mar-jaT {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-ogo .item-23-U2F {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-9u5 {
  box-sizing: border-box;
  padding: 0.45rem 7.04rem 0.55rem 7.06rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-9u5 .apr-4FM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-9u5 .item-23-Zhu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-rS7 {
  box-sizing: border-box;
  padding: 0.45rem 6.991rem 0.55rem 7.009rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-rS7 .mei-z2X {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-rS7 .item-23-ttb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Ar7 {
  box-sizing: border-box;
  padding: 0.45rem 7.141rem 0.55rem 7.159rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Ar7 .jun-5CP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-Ar7 .item-23-Mfh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-4KD {
  box-sizing: border-box;
  padding: 0.45rem 7.291rem 0.55rem 7.309rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f8f9fa;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-4KD .jul-ANF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .div-AkK .a-4KD .item-23-29Z {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .divmatch-carousel-pH9 .i-fyD {
  margin: 1.9rem 0;
  width: 2.1156rem;
  height: calc(100% - 3.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #036933;
  border-radius: 1.029rem;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ {
  margin: 0 3.2rem;
  width: calc(100% - 6.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 {
  box-sizing: border-box;
  padding: 1.55rem 6.3rem 1.75rem 6.288rem;
  width: 100%;
  height: 21.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-x59 {
  margin: 4.4rem 8.633rem 4.4rem 0rem;
  height: calc(100% - 8.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-x59 .jumat-03-februari-2023-eif {
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-x59 .stadion-gelora-joko-samudro-gresik-N8s {
  margin-left: 0.0123rem;
  max-width: 14rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM {
  margin-right: 8.9359rem;
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .bri-liga-1-2022-2023-bXR {
  margin: 0rem 0rem 0.05rem 0.162rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-hKZ {
  margin-bottom: 0.75rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-hKZ .persebaya-surabaya-5ba4ae0395a81png-38X {
  margin-right: 6.1156rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png-nUB.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-hKZ .item-3-2-55D {
  margin: 0rem 5.816rem 1.508rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-hKZ .borneo-fc-5ba47aaf93a6fpng-Na7 {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/borneo-fc-5ba47aaf93a6fpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-GvP {
  margin: 0rem 2.64rem 0rem 2.709rem;
  width: calc(100% - 5.3492rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-GvP .persebaya-surabaya-17H {
  margin-right: 23.482rem;
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .div-FyM .div-GvP .borneo-fc-TEB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-f63 .a-Zo1 {
  margin: 7.775rem 0rem 7.675rem 0rem;
  width: 13.7rem;
  height: calc(100% - 15.45rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f1d015;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 {
  box-sizing: border-box;
  padding: 1.55rem 28.936rem 1.75rem 6.288rem;
  width: 100%;
  height: 22.1641rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-qtw {
  margin: 5.832rem 10.245rem 5.832rem 0rem;
  height: calc(100% - 11.6641rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-qtw .rabu-08-februari-2023-yET {
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-qtw .stadion-jatidiri-tcK {
  margin-left: 0.0895rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu {
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .bri-liga-1-2022-2023-kPd {
  margin: 0rem 0rem 0.281rem 0.162rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw {
  margin-bottom: 0.9828rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw .psis-semarang-5cd9415c19e46png-ACT {
  margin-right: 4.8748rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/psis-semarang-5cd9415c19e46png-FR5.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw .div-dLw {
  margin: 0rem 4.856rem 0.606rem 0rem;
  width: 8.4rem;
  height: 5.65rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw .div-dLw .kick-off-Yio {
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw .div-dLw .item-18-30-qhu {
  width: 8.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-2rw .persebaya-surabaya-5ba4ae0395a81png-Fmd {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png-TdV.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-8Kd {
  margin: 0rem 2.691rem 0rem 1.31rem;
  width: calc(100% - 4.0008rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-8Kd .psis-semarang-Ff9 {
  margin-right: 22.1305rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A27 .div-Csu .div-8Kd .persebaya-surabaya-vFV {
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q {
  box-sizing: border-box;
  padding: 1.55rem 28.936rem 1.75rem 6.288rem;
  width: 100%;
  height: 22.1641rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .senin-13-februari-2023-spw {
  margin: 0.1rem 10.245rem 0rem 0rem;
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ {
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .bri-liga-1-2022-2023-6Bu {
  margin: 0rem 0rem 0.281rem 0.162rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K {
  margin-bottom: 0.9828rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K .persebaya-surabaya-5ba4ae0395a81png-k1Z {
  margin-right: 4.8748rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K .div-pGK {
  margin: 0rem 4.856rem 0.606rem 0rem;
  width: 8.4rem;
  height: 5.65rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K .div-pGK .kick-off-ju5 {
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K .div-pGK .item-16-00-p9q {
  width: 8.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-o6K .pss-sleman-5cd940ae681f1png-hzK {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/pss-sleman-5cd940ae681f1png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-p3M {
  margin: 0rem 2.731rem 0rem 2.709rem;
  width: calc(100% - 5.44rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-p3M .persebaya-surabaya-iuR {
  margin-right: 23.5913rem;
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-A9q .div-aDZ .div-p3M .ps-sleman-EMy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R {
  box-sizing: border-box;
  padding: 1.55rem 28.936rem 1.75rem 6.288rem;
  width: 100%;
  height: 22.1641rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .sabtu-18-februari-2023-PPH {
  margin: 0.1rem 10.245rem 0rem 0rem;
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo {
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .bri-liga-1-2022-2023-c19 {
  margin: 0rem 0rem 0.281rem 0.162rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq {
  margin-bottom: 0.9828rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq .bali-united-fc-5ba47addf2db8png-btf {
  margin-right: 4.8748rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/bali-united-fc-5ba47addf2db8png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq .div-gQK {
  margin: 0rem 4.856rem 0.606rem 0rem;
  width: 8.4rem;
  height: 5.65rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq .div-gQK .kick-off-kf5 {
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq .div-gQK .item-18-30-E4T {
  width: 8.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-4dq .persebaya-surabaya-5ba4ae0395a81png-teo {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png-283.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-zSw {
  margin: 0rem 2.691rem 0rem 1.51rem;
  width: calc(100% - 4.2008rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-zSw .bali-united-fc-qyM {
  margin-right: 22.3305rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-U1R .div-fLo .div-zSw .persebaya-surabaya-Z8f {
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP {
  box-sizing: border-box;
  padding: 1.55rem 28.936rem 1.75rem 6.288rem;
  width: 100%;
  height: 22.1641rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .jumat-24-februari-2023-KGF {
  margin: 0.1rem 10.245rem 0rem 0rem;
  max-width: 12.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF {
  width: 42.1313rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .bri-liga-1-2022-2023-XdD {
  margin: 0rem 0rem 0.281rem 0.162rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 {
  margin-bottom: 0.9828rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 .persebaya-surabaya-5ba4ae0395a81png-kVy {
  margin-right: 4.8748rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/persebaya-surabaya-5ba4ae0395a81png-uUX.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 .div-dJs {
  margin: 0rem 4.856rem 0.606rem 0rem;
  width: 8.4rem;
  height: 5.65rem;
  position: relative;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 .div-dJs .kick-off-9o1 {
  width: 5.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 .div-dJs .item-16-00-Qyq {
  width: 8.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2000000477;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-q87 .psm-makassar-5ba47b8f64fa5png-JpK {
  width: 12rem;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/psm-makassar-5ba47b8f64fa5png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-QsM {
  margin: 0rem 1.341rem 0rem 2.709rem;
  width: calc(100% - 4.05rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-QsM .persebaya-surabaya-9K9 {
  margin-right: 22.1813rem;
  max-width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .auto-group-2s8e-W1Z .div02-2023-LZZ .div-paP .div-BpF .div-QsM .psm-makassar-AEF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #212529;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-divider-3oq {
  width: 100%;
  height: 5rem;
  background-color: #036933;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo {
  box-sizing: border-box;
  padding: 4rem 6.05rem 1.8rem 4.8rem;
  width: 100%;
  height: 33.3844rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-widg-eYj {
  margin: 0rem 3.4rem 9rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-widg-eYj .sponsor-kapal-api-v2png-Kes {
  margin: 0rem 0rem 3.2rem 0.8rem;
  width: 11rem;
  height: 11.3656rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/sponsor-kapal-api-v2png.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-widg-eYj .tribun20news20bwpng-1Xh {
  width: 15rem;
  height: 4.0188rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/tribun20news20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .kings20wallet20bwpng-7aj {
  margin: 0rem 3.4rem 16.22rem 0rem;
  width: 7.5rem;
  height: 8.6797rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/kings20wallet20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko {
  margin: 4.216rem 2.49rem 0rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .auto-group-5hpn-Kwh {
  margin: 0rem 0.71rem 15.734rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .auto-group-5hpn-Kwh .extra20joss20bwpng-CEo {
  margin: 0.256rem 4.8rem 0rem 0rem;
  width: 9.5rem;
  height: 1.7969rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/extra20joss20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .auto-group-5hpn-Kwh .mpm20honda20bwpng-UCK {
  margin-right: 3.2rem;
  width: 9.5rem;
  height: 2.9344rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/mpm20honda20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .auto-group-5hpn-Kwh .sponsor-ums-whitepng-yes {
  margin-top: 0.1313rem;
  width: 9.5rem;
  height: 2.1938rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/sponsor-ums-whitepng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .div-HQf {
  margin-left: 7.21rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .div-HQf .privacy-policy-cC3 {
  margin: 0rem 0rem 1.3rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d4d4d4;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .auto-group-pnt2-bko .div-HQf .this-website-is-2023-persebaya-surabaya-all-rights-reserved-JqZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d4d4d4;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .nusanet20bwpng-ZmV {
  margin: 0rem 3.2rem 16.22rem 0rem;
  width: 9.5rem;
  height: 2.5453rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/nusanet20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .flash20fit20bwpng-1Nb {
  margin: 0rem 3.95rem 16.22rem 0rem;
  width: 9.5rem;
  height: 7.4297rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/flash20fit20bwpng.png');
  flex-shrink: 0;
}
.pertandingan-ewD .div-Avo .divfooter-top-xvo .sponsor-surya-white-v2png-JMh {
  margin-bottom: 16.2203rem;
  width: 8rem;
  height: 3.6266rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/sponsor-surya-white-v2png.png');
  flex-shrink: 0;
}
